@font-face {
    font-family: 'Norse-Bold';
    src: url('/Norse-Bold.otf') format('opentype');
}

:root {
    --main-background-color: #252525;
    --image-credit-color: rgb(95, 95, 95);
    --banner-background-color: #000000ab;
    --main-font-color: rgb(207, 207, 207);
    --input-border-color: rgb(105, 105, 105);
    --form-side-padding: 8%;
    
    font-family: 'Roboto', 'Times New Roman', sans-serif;
}

body {
    background-color: var(--main-background-color);
    display: flex;
    color: var(--main-font-color);
    min-height: 100vh;
}

main {
    width: 60vw;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {
    font-weight: 900;
    font-size: 1.5rem;
    margin: 1rem 0;
}

em {
    font-style: italic;
    font-weight: 400;
}

img {
    height: 80%;
}

/* banner and background||*/
.background-splash {
    background-image: url(/images/space.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
    z-index: 1;
}

.banner {
    height: 200px;
    margin-top: 40%;
    width: 100%;
    background-color: var(--banner-background-color);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner p {
    text-align: center;
    font-family: 'Norse-Bold', Arial, Helvetica, sans-serif;
    font-size: 5rem;
}

.image-credit {
    text-align: center;
    color: var(--image-credit-color);
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 300;
}

/* form ||*/
.form-header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% var(--form-side-padding);
}

.form-area {
    background: linear-gradient(307deg, rgb(51, 51, 51) 0%, rgb(82, 82, 82) 48%, rgba(51, 51, 51) 100%);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    padding: 3% 0;
}

form {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding-bottom: 10%;
}

form div {
    padding: 3% var(--form-side-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15rem;
    height: 4rem;
}
a {
    color: #5b4ecc;
}

a:visited {
    color: #451f77;
}

.form-area p {
    padding: 0% var(--form-side-padding);
    margin: 0;
}

.form-button {
    height: 20vh;
    margin: 0 var(--form-side-padding);
}
/* form, fields ||*/
input {
    background-color: var(--main-background-color);
    border: 2px solid var(--input-border-color);
    border-radius: .5rem;
    height: 2rem;
    color: var(--main-font-color);
    font-weight: 400;
}
input:invalid {
    background: url('/images/bad-input.svg') no-repeat right rgb(73, 41, 41);
    background-size: 12%;
}
input:invalid:focus {
    border-color: rgb(175, 175, 175);
}

input:required:valid {
    border-color: rgb(149, 253, 100);
    background: url('/images/good-input.png') no-repeat 38% rgb(38, 56, 38);
}

input:focus-visible {
    outline: none;
}

label {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

button {
    font-family: inherit;
    width: 200px;
    height: 50px;
    background-color: rgb(92, 0, 92);
    border-style: none;
    border-radius: 2px;
    color: var(--main-font-color);
    font-weight: 700;
    font-size: 1.1rem;
    margin-top: 5%;
}

button:hover {
    cursor: pointer;
    background-color: rgb(117, 0, 117);
}

button:active {
    color: black;
    background-color: rgb(255, 171, 255);
}

/* media query with screen change ||*/
@media screen and (max-width: 1000px) {
    body {
        flex-direction: column;
    }

    main {
        width: 100vw;
    }

    .banner {
        margin-top: 8vh;
    }

    .background-splash {
        width: 100vw;
        height: 400px;
    }
}